iOS/jukebox.xcworkspace/
iOS/jukebox.xcodeproj/project.xcworkspace/xcuserdata/
iOS/jukebox.xcodeproj/xcuserdata/
iOS/Pods/*
iOS/Podfile.lock
cache.properties
.idea/

.DS_Store
Framework/Jukebox/iOS-Playground.playground/playground.xcworkspace/xcuserdata/
Framework/Jukebox/Jukebox.xcworkspace/
Framework/Jukebox/Jukebox.xcodeproj/project.xcworkspace/xcuserdata/
Framework/Jukebox/Jukebox.xcodeproj/xcuserdata/
Framework/Jukebox/Pods/*
Framework/Jukebox/Podfile.lock
